<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스프링부트 애플리케이션</title>
</head>
<body>
<h1>Welcome to Spring Boot!</h1>
<p>This is a simple Spring Boot application.</p>
<h1>Welcome, <span th:text="${username}"></span>!</h1>

<!-- 로그인 페이지로 이동하는 버튼 -->
<button onclick="redirectToLoginPage()">로그인 페이지로 이동</button>
<!-- 로그아웃 버튼 -->
<button id="logoutButton">로그아웃</button>

<script>
    // 로그아웃 버튼 클릭 시 실행될 함수
    function logout() {
        // AJAX를 사용하여 로그아웃 URL로 POST 요청을 보냄
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/logout', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                // 로그아웃이 성공하면 홈페이지로 리다이렉트
                if (xhr.status === 200) {
                    window.location.href = '/';
                } else {
                    // 실패 시 적절한 에러 처리
                    console.error('로그아웃 실패:', xhr.responseText);
                }
            }
        };
        xhr.send();
    }

    // 로그아웃 버튼에 클릭 이벤트 핸들러 추가
    document.getElementById('logoutButton').addEventListener('click', function() {
        logout();
    });
    function redirectToLoginPage() {
        window.location.href = '/login'; // 로그인 페이지 URL로 이동
    }
</script>
</body>
</html>